src/main/mule/Produto.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <http:listener-config name="Listener_config" doc:name="HTTP Listener config" >
        <http:listener-connection host="0.0.0.0" port="8081" protocol="HTTPS"/>
    </http:listener-config>

    <http:listener-config name="HTTP_Listener_config5" doc:name="HTTP Listener config" doc:id="35824106-81c7-4729-876a-65c07eb6a71c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="produtoFlow">
        <http:listener config-ref="HTTP_Listener_config5" path="/produtos" allowedMethods="GET,POST,PUT,DELETE" doc:name="HTTP Listener"/>

        <choice doc:name="Choice">
            <when expression="#[attributes.method == 'GET']">

            </when>
            <when expression="#[attributes.method == 'POST']">

            </when>

        </choice>

    
        <error-handler doc:name="Error Handler">

        </error-handler>
    </flow>
</mule>
